@import "fonts";
@import "base";
@import "libs";
@import "vars";

.wrapper {
  //display: grid;
  max-width: 1140px;
  margin: 0 auto 15px;
  padding: 15px;

  //justify-items: center;
}

.background-header {
  position: fixed;
  background-position: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 164, 181, 0.5) 0%, #ffffff 100%);
  z-index: -1;
}

.header {
  display: grid;
  grid-template-rows:
    minmax(30px, max-content) minmax(200px, max-content) minmax(60px,
      max-content) minmax(420px, max-content);
  row-gap: 10px;
  justify-items: center;
}

// HEADER КОНТАКТЫ

.grid-contact,
.header-contact {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  justify-items: start;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: #003333;

  a {
    display: grid;
    grid-template-columns: 17px 1fr;
    align-items: center;
    column-gap: 13px;
    color: #003333;
  }

  .grid-contact__phone {}

  .grid-contact__address {
    display: grid;
    grid-template-columns: 21px 1fr;
    align-items: center;
    column-gap: 13px;
  }

  .grid-contact__email {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 13px;
  }

  .grid-contact__social-icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
    column-gap: 15px;

    img {
      /*width: 30px;*/
      height: 30px;
    }

    a {
      display: block;
      width: 30px;
      height: 30px;
    }
  }
}

//  ЛОГОТИП, НАЗВАНИЕ, ОПИСАНИЕ, ЗАКАЗАТЬ ЗВОНОК

.header-wrapper {
  display: grid;
  grid-template-columns: 20% 60% 10% 10%;
  background-color: rgba(255, 255, 255, 0.281);
  padding: 0 15px;
  border: 2px solid $medium;
}

.header-logo img {
  margin-top: 20px;
}

.header-description {
  display: grid;
  grid-template-rows: auto;

  h1 {
    align-self: start;
    margin: 0;
    font-family: "Oswald-b";
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: $dark;
  }

  p {
    align-self: start;
    justify-self: center;
    width: 70%;
    font-family: "Oswald-b";
    font-size: 22px;
    text-align: center;
    color: $dark;
  }
}

// КНОПКА ЗАКАЗАТЬ ЗВОНОК

.header-wrapper__button {
  background-color: #ffcc00;
  text-align: center;
  font-family: "Oswald-b";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: $dark;
  border-radius: 50px;
  display: grid;
  align-content: center;
  width: 100px;
  height: 100px;
  transition: 0.3s;
  justify-self: center;
  align-self: center;

  &:hover {
    background: rgba(0, 164, 181, 0.4);
    color: #fff;
    transition: 0.3s;
  }
}

.mp-hidden {
  display: none;
}

// ФОРМА ЗАКАЗА ЗВОНКА

.form {
  background-color: #fff;
  max-width: 320px;
  margin: auto;
  padding: 40px 20px 20px;
  position: relative;
  border-radius: 10px;

  p {
    text-align: center;
    padding-bottom: 10px;
  }

  input {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    line-height: 1.5;
    height: 35px;
    border: 1px solid $medium;
    border-radius: 5px;
    padding-left: 5px;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5);
  }

  .form__buttom {
    width: 100%;
    height: 35px;
    border: 1px solid $medium;
    border-radius: 5px;
  }
}

// МЕНЮ

nav {
  font-family: "Oswald-b";
  font-size: 18px;
  text-transform: uppercase;
  margin: auto 0;

  ul {
    display: grid;
    list-style-type: none;
    justify-content: right;
  }

  li {}

  a {
    color: #00a4b5;

    &:hover {
      color: #ffcc00;
      transition: 0.3s;
    }
  }
}

// ЗАГОЛОВОК Центр детского развития "ЛУЧшие дети"

.title-lessons {
  min-height: 60px;
  margin-bottom: 15px;

  h2 {
    align-self: center;
    font-family: "Oswald-b";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $dark;
  }

  p {
    color: rgb(99, 99, 99);
    text-align: center;
    font-size: 14px;
  }
}

// ДЕТСКИЕ РАЗВИВАЮЩИЕ ЗАНЯТИЯ НАШЕГО ЦЕНТРА

.wrapper-header-lessons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  justify-items: center;
}

.header-lessons-link {
  display: grid;
  grid-template-rows: 60px 75px;
  grid-gap: 5px;
  width: 210px;
  height: 140px;
  font-family: "Oswald-b";
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

a.header-lessons-link img {
  margin: 0 auto;
}

.header-lessons-link:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

// БЛОКИ ОПИСАНИЯ ЗАНЯТИЙ ЦЕНТРА

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-items: center;
}

.main-lessons {
  max-width: 350px;
  min-height: 460px;
  background: linear-gradient(180deg, #b2e3e9 0%, #ffffff 100%);
  box-shadow: inset 5px 5px 10px 2px rgba(0, 0, 0, 0.144);
  //border-radius: 15px;
  border: 2px solid $medium;

  &__title {
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 10px;
  }

  &:target {
    background: linear-gradient(180deg, #ffcc00 0%, #ffffff 100%);
  }

  h3 {
    font-family: "Oswald-b";
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }

  span {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
  }
}

.learn p,
.mom-baby p,
.chess p,
.guitar p {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
}

ul.lesson-description {
  list-style-position: outside;
  padding-right: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
}

// НОВОСТИ, ГАЛЕРЕЯ, ОТЗЫВЫ

.news,
.gallery,
.comments,
.about {
  border-top: 1.5px solid $medium;
  max-width: 750px;
}

h4 {
  font-family: "Oswald-b";
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.news__title,
.gallery__title,
.comments__title,
.about h4 {
  height: 60px;

  p {
    color: $medium;
    text-align: center;

    font: {
      family: "Oswald-b";
    }
  }
}

/* НОВОСТИ */

.news-box {
  .news-box__item {
    display: grid;
    grid-template-columns: 230px auto;
    column-gap: 15px;
    align-items: center;
    max-width: 750px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.199);
    margin: 0 auto;

    img {
      width: 230px;
      height: 230px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

/* ГАЛЕРЕЯ */

.gallery-box {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // justify-items: center;
  // max-width: 750px;
  // margin: 0 auto;

  .gallery-box__item {
    max-width: 750px;
    max-height: 375px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

/* ОТЗЫВЫ*/

.comments-box {
  .comments-box__item {
    display: grid;
    grid-template-columns: 150px auto;
    column-gap: 15px;
    align-items: center;
    max-width: 750px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.199);
    margin: 0 auto;

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.about {
  &__text {
    margin-bottom: 1em;
  }
}

/* КОНТАКТЫ */
.footer {
  background-color: #e5f5f7;

  .footer__item {
    margin-top: 23px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
  }

  .footer-contact {
    margin: 13px auto 0;
  }
}

// НИЖНЯЯ КНОПКА ЗАКАЗАТЬ ЗВОНОК

.button-form {
  position: fixed;
  width: 70px;
  height: 70px;
  background: rgba(255, 204, 0, 0.5);
  border-radius: 50%;
  bottom: 50px;
  right: 200px;
  border: opacity($color: #000000);
  animation: radial-pulse 1s infinite;
  animation-delay: 1s;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0;
  }

  &:hover {
    background: rgba(0, 164, 181, 0.4);
    color: #fff;
    transition: 0.3s;
    animation-play-state: paused;
    transform: scale(1.2);
  }
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(226, 193, 8, 0.5);
  }

  100% {
    box-shadow: 0 0 0 40px rgba(226, 193, 8, 0);
  }
}

// КНОПКА НАВЕРХ

.topbutton {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  color: #333;
}

@import "media";